@import "partials/_helper.scss";

//variables
$bg_main: #f6f6f6;
$border_color: #e6e6e6;
$color_wixBlue: #0099ff;
$color_darkGrey: #3a3a3a;
$color_lightGrey: #8e8e8e;

$connect_paddingBottom: 8px;
$connect_paddingTop: 12px;
$connect_paddingLeft: 20px;
.wix_blue { color: $color_wixBlue; }

/* ******** */
/* Settings */
/* ******** */
p { line-height: 1.2; color: #000; }
a:visited,
a:hover,
a:active,
a { color: $color_wixBlue; }
ul { list-style: none; padding: 0; margin: 0; }
#settings_popup {
	width: 618px;
	background: $bg_main;
	padding: 15px 19px;
	position: relative;
	@include box-sizing("border-box");
	.ajax-loader {
		position: absolute;
		top: 200px;
		left: 300px; }
	}
    .box_style {
        border: 1px solid $border_color;
        background: #fff;
        padding: 11px 11px 0;
        margin-top: 17px;
        @include border-radius(7px);
        @include box-sizing("border-box");
	}

/* *********** */
/* top section */
/* *********** */
.top_section {
	height: 152px;
	padding: 12px 20px;
	margin: 0 0 20px;
	#logo {
		height: 100%;
		padding: 0 25px 0 4px;
		border-right: 1px solid #a9a9a9;
		img { margin-top: 20px;} }
}

/* connect */
.connect {
	position: relative;
	height: 100%;
	width: 377px;
	padding: $connect_paddingTop 0 $connect_paddingBottom $connect_paddingLeft;
	@include box-sizing("border-box");
	p {
		font-size: 14px;
		margin-right: 20px;
		color: $color_darkGrey; }
	p a { text-decoration: underline; }
	.choose_blog,
	.create_account,
	.create_blog {
		position: absolute;
		width: 135px;
		color: #aaa;
		font-size: 12px;
		bottom: $connect_paddingBottom;
		left: $connect_paddingLeft;
		a { color: $color_wixBlue; } }
	.disconnect, .connect_button {
		position: absolute;
		right: 0;
		bottom: $connect_paddingBottom; }
	.create_account {
		color: $color_lightGrey;
		font-size: 12px;
		width: 150px;
		}
}

/* ************** */
/* Style settings */
/* ************** */
.box_title {
	@include inline-block(100%,20px,auto,top,20px);
	@include box-sizing("border-box");
	font-size: 14px;
	cursor: pointer;
	padding-left: 30px;
	outline: none;
	pointer: cursor;
	margin-bottom: 10px;
	position: relative;
    color: $color_wixBlue;
	&.ui-state-active {
      color: black;
      &:before { @include background-image("settings/ge/ge_arrow_active.png"); }
    }
    &:hover.ui-state-active { cursor: default; }
	&:before {
	content:"";
	position: absolute;
	top: 2px;
	left: 5px;
	@include background-image("settings/ge/ge_arrow_hover.png"); } }

.style_setting {
    border-top: 1px solid $border_color;
    height: 51px;
    line-height: 51px;
	& > div { @include inline-block(55%,auto,auto,top,auto); }
	& > .opacity { width: 43%; }
	label {
		line-height: 51px;
		display: inline-block;
		float: none !important;
		color: $color_darkGrey; }
	label:first-child {
		width: 180px;
		text-indent: 20px;
		color: $color_darkGrey; }
	label[for="shadow"] {
		margin-top: 15px;
		text-indent: 20px; }
	.colorPicker-picker {
		@include background-image("settings/btn/btn_colorpicker.png");
		vertical-align: middle;
		margin-right: 30px; }
	.colorPicker-picker:hover { @include box-shadow(0 0 2px #000); }
	.colorPicker-picker:active { @include box-shadow(0 2px 1px #ccc inset); }
	.opacity_count {
		padding-left: 10px;
		display: inline-block; }
	select { display: inline-block; width: auto; }
	#font-type { margin-right: 80px; }
}

/* layout settings */
#settings_popup {

	.ui-slider {
		height: 20px;
		margin: 0 5px;
		position: relative;
		top: -2px;
		display: inline-block;
		@include box-sizing("border-box");
		@include background-image("settings/bg/bg_slider.png", $image_repeat: repeat-x);
		width: 100px;
		.ui-slider-handle {
			@include background-image("settings/btn/btn_tracker.png");
			border: none;
			position: absolute;
			margin-left: -5px;
			top: -8px; }
		.ui-slider-range { background: none;}
		&.ui-slider-disabled { @include opacity(50); }
	}
}

.settings_layout,
.settings_type {
	ul {
		padding-top: 10px;
		border-top: 1px solid #ccc; }
	li {
		@include inline-block(32%,auto,center,auto,auto);
		margin-top: 95px;
		label {
			margin: 10px 0;
			display: block;
			width: 100%; } }
}

.settings_layout {
	li {
		position: relative;
		margin-top: 180px; }
	li:before {
		content: "";
		left: 50%;
		position: absolute;
		background: transparent inline-image("settings/bg/bg_layout.png") top left repeat;
		border: 1px solid #ccc; }
	.rectangle:before { @include layout-shape(60px,60px); }
	.scraper:before { @include layout-shape(30px,90px); }
	.banner:before { @include layout-shape(90px,30px); }
}