@import "partials/_helper.scss";

//variables
$bg_main: #f6f6f6;
$border_color: #e6e6e6;
$color_wixBlue: #0099ff;
$color_darkGrey: #3a3a3a;
$color_lightGrey: #8e8e8e;

$connect_paddingBottom: 8px;
$connect_paddingTop: 12px;
$connect_paddingLeft: 20px;
.wix_blue { color: $color_wixBlue; }

/* ******** */
/* Settings */
/* ******** */
p { line-height: 1.2; color: #000; }
a:visited,
a:hover,
a:active,
a { color: $color_wixBlue; }
ul { list-style: none; padding: 0; margin: 0; }
#settings_popup {
	width: 618px;
	background: $bg_main;
	padding: 15px 19px;
	position: relative;
	@include box-sizing("border-box");
	.ajax-loader {
		position: absolute;
		top: 200px;
		left: 300px; }
	}
    .box_style {
        border: 1px solid $border_color;
        background: #fff;
        padding: 11px 11px 0;
        margin-top: 17px;
        @include border-radius(7px);
        @include box-sizing("border-box");
	}

/* *********** */
/* top section */
/* *********** */
.top_section {
	height: 152px;
	padding: 12px 20px;
	margin: 0 0 20px;
	#logo {
		height: 100%;
		padding: 0 25px 0 4px;
		border-right: 1px solid #a9a9a9;
		img { margin-top: 20px;} }
}

/* connect */
.connect {
	position: relative;
	height: 100%;
	width: 420px;
	padding: $connect_paddingTop 0 $connect_paddingBottom $connect_paddingLeft;
	@include box-sizing("border-box");
	p {
		line-height: 1.3;
		font-size: 14px;
		margin-right: 20px;
		color: $color_darkGrey; }
	p a { text-decoration: underline; }
	.disconnect, .connect_button {
		position: absolute;
		right: 0;
		bottom: $connect_paddingBottom; }
	.create_account {
		color: $color_lightGrey;
		font-size: 12px;
		width: 150px;
		position: absolute;
		bottom: $connect_paddingBottom;
		left: $connect_paddingLeft;
		a { color: $color_wixBlue; }
		}
}

/*.tooltip_wrapper {
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-top: 10px;
	span {
		text-decoration: underline;
		color: $color_wixBlue; }
	.tooltip {
		@include tooltip-bubble (7px,white,#aaa,1px,left,35%);
		@include border-radius(7px);
		position: absolute;
		z-index: 2;
		opacity: 1;
		top: -18px;
		display: none;
		left: 75px;
		padding: 10px;
		width: 200px;
		p {
			margin: 0;
			font-size: 13px;
			color: $color_lightGrey; }
		}
        ul {
            list-style: disc;
            padding-left: 15px;
        }
	&:hover .tooltip { display: block; }
}*/

/* ************** */
/* Style settings */
/* ************** */
.box_title {
	@include inline-block(100%,20px,auto,top,20px);
	@include box-sizing("border-box");
	font-size: 14px;
	cursor: pointer;
	padding-left: 30px;
	outline: none;
	pointer: cursor;
	margin-bottom: 10px;
	position: relative;
    color: $color_wixBlue;
	&.ui-state-active {
      color: black;
      &:before { @include background-image("settings/ge/ge_arrow_active.png"); }
    }
    &:hover.ui-state-active { cursor: default; }
	&:before {
	content:"";
	position: absolute;
	top: 2px;
	left: 5px;
	@include background-image("settings/ge/ge_arrow_hover.png"); } }

.breadcrumb {
	@include border-radius(0);
	padding: 0px 0 0px 23px;
	border: 1px solid #eee;
	border-width: 1px 0;
	background: #fff;
    line-height: 29px;
}

// Remove the focus rectangle when choosing a file/folder
.files:focus {
    outline: none;
}

.files table {
	margin: 0;
	border: none;

    tr.private .private_notification {
        display: inline-block;
        background-position: center;
        margin-right: 3px;
    }
	tr:hover td {
		background-color: #f0fafc;
		color: $color_wixBlue;
    }
	tr.selected {
		background-color: #cdedf8;
		td {
			background-color: #cdedf8;
			color: #494947;
            padding-top: 3px;
            padding-bottom: 3px;
        }
		td:first-child:before {
			font-size: 18px;
			margin-right: 3px;
			position: relative;
			content: "✓";
        }
    }
	td {
		vertical-align: middle;
		color: #bababa;
        border-width: 0px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    tbody tr:nth-child(odd) td {
        background-color: rgba(0, 0, 0, 0.025);
    }
	td:first-child {
        text-align: right;
    }
}

.empty_folder_msg {
    color: #888;
    text-align: center;
    margin-top: 15px;
    vertical-align: top;
}

.file-permissions  {
    div {
        margin-top: 3px;
    }
    label {
        display: inline-block;
        margin-right: 10px;
        margin-top: 4px;
    }
    input {
        background-color: #CDEDF8;
        margin-top: 1px;
    }
}

.jspContainer {
    .jspPane {
        padding-top: 0px !important;
        width: 545px;
    }
    .jspVerticalBar {
        width: 11px;
        background-color: #eeeeee;
        margin-bottom: 5px;
    }
    .jspTrack {
        /* fallback DIY*/
        background-color: #eeeeee;
    }
    .jspDrag {
        border-radius: 5px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-width: thin;
    }
}

.ui-widget-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.style_setting {
	border-top: 1px solid $border_color;
	padding: 15px 0;
	& > div { @include inline-block(49%,auto,auto,top,auto); }
	label {
		display: inline-block;
		float: none !important;
		color: $color_darkGrey; }
	label:first-child {
		width: 180px;
		text-indent: 20px;
		color: $color_darkGrey; }
	label[for="shadow"] {
		margin-top: 15px;
		text-indent: 20px; }
	.colorPicker-picker {
		@include background-image("settings/btn/btn_colorpicker.png");
		vertical-align: middle;
		margin-right: 40px; }
	.colorPicker-picker:hover { @include box-shadow(0 0 2px #000); }
	.colorPicker-picker:active { @include box-shadow(0 2px 1px #ccc inset); }
	.opacity_count {
		padding-left: 10px;
		display: inline-block; }
}

/* choose your layout thingie */
.layout_settings { border-top: 1px solid $border_color; padding-top: 20px; }
.layout {
	text-align: center;
	width: 32%;
	display: inline-block;
	height: 200px;
	margin-bottom: 20px;
	vertical-align: top;
	border-left: 3px solid #eee;
	& > div { @include opacity(50); }
	& > .choose_layout,
	&.checked > div { @include opacity(100); }
	&:first-child { border: none; }
	.layout_img { width: 100%; margin: 15px 0; }
	.choose_layout { width: 100%; }
	label { color: #000; }
}

/* layout settings */
#settings_popup {

	.ui-slider {
		height: 20px;
		margin: 0 5px;
		position: relative;
		top: -2px;
		display: inline-block;
		@include box-sizing("border-box");
		@include background-image("settings/bg/bg_slider.png", $image_repeat: repeat-x);
		width: 100px;
		.ui-slider-handle {
			@include background-image("settings/btn/btn_tracker.png");
			border: none;
			position: absolute;
			margin-left: -5px;
			top: -8px; }
		.ui-slider-range { background: none;}
		&.ui-slider-disabled { @include opacity(50); }
	}
}

.style_setting .radius {
	height: 70px;
	position: relative;
	width: 65%;

	.ui-spinner-wrapper {
		position: absolute;
		.ui-spinner {
			@include inline-block(auto,auto,auto,top,auto);
			position: relative;
			margin-top: 1px;
			color: #666; }
		input {
			@include inline-block(45px,25px,auto,top,25px);
			padding: 0 0 0 5px;
			margin: 0;
			color: #000;
			font-size: 12px; }
		label {
			@include inline-block(25px,25px,auto,bottom,auto);
			border: 3px solid #666;
			color: transparent; }
		.ui-spinner-button {
			top: 0;
			right: 0;
			position: absolute; }
		.ui-spinner-down { top: auto; bottom: 0; } }

	.radius_topleft {
		top: 0;
		left: 0;
		label { border-width: 3px 0 0 3px; } }
	.radius_topright {
		top: 0;
		right: 0;
		label { border-width: 3px 3px 0 0; } }
	.radius_bottomleft {
		bottom: 0;
		left: 0;
		label { border-width: 0 0 3px 3px; } }
	.radius_bottomright {
		bottom: 0;
		right: 0;
		label { border-width: 0 3px 3px 0; } }

	label[for="lock_radius"] {
		position: absolute;
		left: 50%;
		margin-left: -89px;
		top: 50%;
		margin-top: -12px; }
}

.style_setting .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 16px;
	height: 13px;
	background-image: inline-image("settings/ge/ui-icons_222222_256x240.png"); }

.ui-spinner {
	.ui-icon-triangle-1-s {
		/* need to fix icons sprite */
		background-position:-65px -18px; }
	.ui-icon-triangle-1-n {
		/* need to fix icons sprite */
		background-position:0 -18px; }
}
.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden; right: 0; }
.ui-spinner-up { top: 0; }
.ui-spinner-down { bottom: 0; }

.style_setting {
	.ui-state-default,
	.ui-widget-content
	.ui-state-default,
	.ui-widget-header
	.ui-state-default {
		border: 1px solid #cccccc;
		font-weight: bold;
		color: #1c94c4; } }

.chzn-container {
	width: 140px !important;

	.chzn-drop {
		display: none;
		width: 138px !important; }
	.chzn-search { display: none; }
	.chzn-single-with-drop + .chzn-drop { display: block; }
}

.ui-dialog {
	@include background(linear-gradient(#fff,#eee));
	position: relative;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 0px 50px 7px #aaa;
    color: #444444;

    .ui-dialog-titlebar {
        border-bottom: 1px solid #cccccc;
    }
    .ui-dialog-content {
        padding: 10px 10px;
        border-bottom-width: 0px;
        line-height: 20px;
    }
	.ui-dialog-title {
        width: 80%;
        border-right: 1px solid #cccccc;
		display: inline-block;
		font-size: 16px;
        padding: 10px 10px;
    }
	p {
		margin-bottom: 10px;
		font-size: 13px;
		line-height: 1.3;
        color: #444444;
    }
    .ui-dialog-buttonset {
        text-align: right;
        padding: 10px 10px;
    }
    button {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 80px;
        outline: none;
        @include border-radius(4px);
        background: #45a1d2;
        @include background(linear-gradient(#45a1d2 50%,#338fbe 50%));
        @include inline-align(29px, center);
        color: #fff !important;
        padding: 0 10px;
        border: 1px solid #c4c4c4;
        display: inline-block;
        &:hover { @include box-shadow(1px 2px 2px #aaa); }
        &:active { @include box-shadow(0 2px 1px #aaa inset); }
    }
    .dont_show_again {
        margin-top: 5px;
    }
}

.ui-icon-closethick {
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    text-indent: -99999px;
    overflow: hidden;
    width: 15px;
    height: 15px;
    background-position: -95px -130px;
    background-image: inline-image("settings/ge/ui-icons_222222_256x240.png");
}

.private_overlay {
  .overlay_close_button {
      position: absolute;
      right: 10px; top: 10px;
      background-color: white;
      padding: 7px;
      padding-right: 29px;
      width: 12px;
  }
}