<div id="settings_popup" xmlns="http://www.w3.org/1999/html">
    <!-- connect account -->
    <div class="box_style top_section inline_block">
        <a target="_blank" href="https://drive.google.com/start" id="logo">
            <img src="/bundles/wixgoogleadsenseapp/app/images/settings/logo_drive.jpg" alt="Google Drive">
        </a>
        <div data-ng-hide="user.connected" class="connect">
            <p class="description">App info text</p>
            <a data-ng-click="authenticate()" class="connect_button action_links">Connect Account</a>
            <p class="create_account">Don't have an account? <a target="_blank" href="https://drive.google.com/start">Create one</a>
        </div>
        <div data-ng-show="user.connected" class="connect">
            <p>You are now connected to: <span class="wix_blue">{{ about.user.displayName }}</span> Google account. <br/>Choose which document you'd like to appear on your site.</p>
            <a data-bt-tooltip data-bt-placement="bottom" title="Notice that in order to display the document it's visibility should be set to 'Public on the web' or 'Anyone with a link'.">More info</a>
            <p class="disconnect">
                <a href="" data-ng-click="disconnect()">Disconnect Account</a>
            </p>
        </div>
    </div>

    <!-- accordion -->
    <div data-ui-accordion data-ui-height-style="auto" data-ui-header="div > h2">
        <!-- type settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Type</h2>
            <div>
                <ul>
                    <li>
                        <div class="text">
                            <div>
                                <input data-ng-model="adUnit.contentAdsSettings.type" type="radio" value="TEXT" />
                                <label for="">Text</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="image">
                            <div>
                                <input data-ng-model="adUnit.contentAdsSettings.type" type="radio" value="IMAGE" />
                                <label for="">Image</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="video">
                            <div>
                                <input data-ng-model="adUnit.contentAdsSettings.type" type="radio" value="VIDEO" />
                                <label for="">Video</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="links">
                            <div>
                                <input data-ng-model="adUnit.contentAdsSettings.type" type="radio" value="LINKS" />
                                <label for="">Links</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- layout settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Layout</h2>
            <div>
                <ul>
                    <li>
                        <div class="rectangle">
                            <div>
                                <input data-ng-model="size" type="radio" value="rectangle" />
                                <label for="">Rectangle</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="skyscraper">
                            <div>
                                <input data-ng-model="size" type="radio" value="skyscraper" />
                                <label for="">Skyscraper</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="banner">
                            <div>
                                <input data-ng-model="size" type="radio" value="banner" />
                                <label for="">Banner</label>
                            </div>
                            <div>
                                <img src="" alt="">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- style settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Style</h2>
            <div>
                <ul>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Background Color</label>
                                <input data-ng-model="adUnit.customStyle.colors.background" type="text" data-ui-colorpicker />
                            </div>
                        </div>
                    </li>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Title</label>
                                <input data-ng-model="adUnit.customStyle.colors.title" type="text" data-ui-colorpicker />
                            </div>
                        </div>
                    </li>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Text</label>
                                <input data-ng-model="adUnit.customStyle.colors.text" type="text" data-ui-colorpicker />
                            </div>
                        </div>
                    </li>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">URL</label>
                                <input data-ng-model="adUnit.customStyle.colors.url" type="text" data-ui-colorpicker />
                            </div>
                        </div>
                    </li>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Border</label>
                                <input data-ng-model="adUnit.customStyle.colors.border" type="text" data-ui-colorpicker />
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- loader -->
    <div class="loader">
        <img src="/bundles/wixgoogleadsenseapp/app/images/settings/ge/ge_loader.gif" width="20" height="20" alt="loader"/>
    </div>
</div>