<div id="settings_popup" xmlns="http://www.w3.org/1999/html">
    <!-- connect account -->
    <div class="box_style top_section inline_block">
        <a target="_blank" href="https://drive.google.com/start" id="logo">
            <img src="/bundles/wixgoogleadsenseapp/app/images/settings/logo_drive.jpg" alt="Google Drive">
        </a>
        <div data-ng-hide="user.connected" class="connect">
            <p class="description">App info text</p>
            <a data-ng-click="connect()" class="connect_button action_links">Connect Account</a>
            <p class="create_account">Don't have an account? <a target="_blank" href="https://drive.google.com/start">Create one</a>
        </div>
        <div data-ng-show="user.connected" class="connect">
            <p>You are now connected to: <span class="wix_blue">{{ about.user.displayName }}</span> Google account. <br/>Choose which document you'd like to appear on your site.</p>
            <a data-bt-tooltip data-bt-placement="bottom" title="Notice that in order to display the document it's visibility should be set to 'Public on the web' or 'Anyone with a link'.">More info</a>
            <p class="disconnect">
                <a href="" data-ng-click="disconnect()">Disconnect Account</a>
            </p>
        </div>
    </div>

    <!-- accordion -->
    <div data-ui-accordion data-ui-height-style="fill" data-ui-header="div > h2">
        <!-- type settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Type</h2>
            <div>
                <ul>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Background Color</label>
                                <input data-ng-model="user.backgroundColor" type="text" data-ui-colorpicker />
                            </div>
                            <div>
                                <input data-ng-model="user.enableShadow" id="shadow" type="checkbox" />
                                <label for="shadow">Enable shadow</label>
                            </div>
                        </div>
                        <div class="opacity">
                            <input data-ng-model="user.backgroundHasOpacity" id="opacity" type="checkbox" />
                            <label for="opacity">Opacity</label>
                            <div data-ng-model="user.backgroundOpacity" data-ng-disabled="user.backgroundHasOpacity == false" data-ui-slider> </div>
                            <span class="opacity_count">{{ user.backgroundOpacity }}</span>
                        </div>
                    </li>
                    <li class="style_setting">
                        <label for="">Corner Radius</label>
                        <div class="radius">
                    	<span class="radius_topleft ui-spinner-wrapper">
                    		<input data-ng-model="user.cornerRadiusTopLeft" id="radius_topleft" type="text" data-ui-spinner max="10" min="0" />
                    		<label for="radius_topleft">Border radius top left</label>
                    	</span>
                    	<span class="radius_topright ui-spinner-wrapper">
                    		<label for="radius_topright">Border radius top right</label>
                    		<input data-ng-model="user.cornerRadiusTopRight" id="radius_topright" type="text" data-ui-spinner max="10" min="0" />
                    	</span>
                    	<span class="radius_bottomleft ui-spinner-wrapper">
                    		<input data-ng-model="user.cornerRadiusBottomLeft" id="radius_bottomleft" type="text" data-ui-spinner max="10" min="0" />
                    		<label for="radius_bottomleft">Border radius bottom left</label>
                    	</span>
                    	<span class="radius_bottomright ui-spinner-wrapper">
                    		<label for="radius_bottomright">Border radius bottom right</label>
                    		<input data-ng-model="user.cornerRadiusBottomRight" id="radius_bottomright" type="text" data-ui-spinner max="10" min="0" />
                    	</span>
                            <input data-ng-change="lock()" data-ng-model="user.lockCornersTogether" id="lock_radius" type="checkbox" />
                            <label for="lock_radius">Lock corners together</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- layout settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Layout</h2>
            <div>
                <ul>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Background Color</label>
                                <input data-ng-model="user.backgroundColor" type="text" data-ui-colorpicker />
                            </div>
                            <div>
                                <input data-ng-model="user.enableShadow" id="shadow" type="checkbox" />
                                <label for="shadow">Enable shadow</label>
                            </div>
                        </div>
                        <div class="opacity">
                            <input data-ng-model="user.backgroundHasOpacity" id="opacity" type="checkbox" />
                            <label for="opacity">Opacity</label>
                            <div data-ng-model="user.backgroundOpacity" data-ng-disabled="user.backgroundHasOpacity == false" data-ui-slider> </div>
                            <span class="opacity_count">{{ user.backgroundOpacity }}</span>
                        </div>
                    </li>
                    <li class="style_setting">
                        <label for="">Corner Radius</label>
                        <div class="radius">
                    	<span class="radius_topleft ui-spinner-wrapper">
                    		<input data-ng-model="user.cornerRadiusTopLeft" id="radius_topleft" type="text" data-ui-spinner max="10" min="0" />
                    		<label for="radius_topleft">Border radius top left</label>
                    	</span>
                    	<span class="radius_topright ui-spinner-wrapper">
                    		<label for="radius_topright">Border radius top right</label>
                    		<input data-ng-model="user.cornerRadiusTopRight" id="radius_topright" type="text" data-ui-spinner max="10" min="0" />
                    	</span>
                    	<span class="radius_bottomleft ui-spinner-wrapper">
                    		<input data-ng-model="user.cornerRadiusBottomLeft" id="radius_bottomleft" type="text" data-ui-spinner max="10" min="0" />
                    		<label for="radius_bottomleft">Border radius bottom left</label>
                    	</span>
                    	<span class="radius_bottomright ui-spinner-wrapper">
                    		<label for="radius_bottomright">Border radius bottom right</label>
                    		<input data-ng-model="user.cornerRadiusBottomRight" id="radius_bottomright" type="text" data-ui-spinner max="10" min="0" />
                    	</span>
                            <input data-ng-change="lock()" data-ng-model="user.lockCornersTogether" id="lock_radius" type="checkbox" />
                            <label for="lock_radius">Lock corners together</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- style settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Style</h2>
            <div>
                <ul>
                    <li class="style_setting">
                        <div class="color">
                            <div>
                                <label class="colorPicker_label" for="">Background Color</label>
                                <input data-ng-model="user.backgroundColor" type="text" data-ui-colorpicker />
                            </div>
                            <div>
                                <input data-ng-model="user.enableShadow" id="shadow" type="checkbox" />
                                <label for="shadow">Enable shadow</label>
                            </div>
                        </div>
                        <div class="opacity">
                            <input data-ng-model="user.backgroundHasOpacity" id="opacity" type="checkbox" />
                            <label for="opacity">Opacity</label>
                            <div data-ng-model="user.backgroundOpacity" data-ng-disabled="user.backgroundHasOpacity == false" data-ui-slider> </div>
                            <span class="opacity_count">{{ user.backgroundOpacity }}</span>
                        </div>
                    </li>
                    <li class="style_setting">
                        <label for="">Corner Radius</label>
                        <div class="radius">
                    	<span class="radius_topleft ui-spinner-wrapper">
                    		<input data-ng-model="user.cornerRadiusTopLeft" id="radius_topleft" type="text" data-ui-spinner max="10" min="0" />
                    		<label for="radius_topleft">Border radius top left</label>
                    	</span>
                    	<span class="radius_topright ui-spinner-wrapper">
                    		<label for="radius_topright">Border radius top right</label>
                    		<input data-ng-model="user.cornerRadiusTopRight" id="radius_topright" type="text" data-ui-spinner max="10" min="0" />
                    	</span>
                    	<span class="radius_bottomleft ui-spinner-wrapper">
                    		<input data-ng-model="user.cornerRadiusBottomLeft" id="radius_bottomleft" type="text" data-ui-spinner max="10" min="0" />
                    		<label for="radius_bottomleft">Border radius bottom left</label>
                    	</span>
                    	<span class="radius_bottomright ui-spinner-wrapper">
                    		<label for="radius_bottomright">Border radius bottom right</label>
                    		<input data-ng-model="user.cornerRadiusBottomRight" id="radius_bottomright" type="text" data-ui-spinner max="10" min="0" />
                    	</span>
                            <input data-ng-change="lock()" data-ng-model="user.lockCornersTogether" id="lock_radius" type="checkbox" />
                            <label for="lock_radius">Lock corners together</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- loader -->
    <div class="loader">
        <img src="/bundles/wixgoogleadsenseapp/app/images/settings/ge/ge_loader.gif" width="20" height="20" alt="loader"/>
    </div>
</div>