<!doctype html>
<html lang="en" ng-app="driveApp">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
</head>
<body>

<div>Loading...</div>

<!-- wix sdk -->
<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.16.0/js/Wix.js"></script>

<!-- script for updating wix and reloading the page -->
<script type="text/javascript">
    window.opener.location.reload();
    window.close();
</script>
</body>
</html>