<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta>
    <title>Google AdSense Widget</title>

    <!-- wix sdk -->
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.75.0/js/wix.min.js"></script>
</head>
<body>

    <!-- adsense advertisement -->
    <div style="text-align: center">
    {% if code is defined and app.request.get('viewMode') != 'editor' %}
            {% include 'WixGoogleAdsenseBundle:Mobile:ad.html.twig' %}
        {% else %}
            {% include 'WixGoogleAdsenseBundle:Mobile:demo_mobile.html.twig' %}
        {% endif %}
    </div>

    {% if code is not defined %}
        <!-- fos js routing bundle -->
        <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

        <!-- scripts -->
        {% javascripts
        '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.js'
        '@WixGoogleAdsenseBundle/Resources/public/js/responsive.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}

    <script type="text/javascript">
        window.onload = function() {
            Wix.Performance.applicationLoaded();
            Wix.Performance.applicationLoadingStep(1);
        };
    </script>
</body>
</html>
