parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    mongodb_server: 'mongodb://web1.apps.wix.com:27017,web2.apps.wix.com:27017,web4.apps.wix.com:27017';
    mongodb_name: wix_adsense

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ekino_new_relic_api_key: 123
    wix_app_id: 12d5833e-f061-7cc8-5122-e1d404f6c8ae
    wix_app_secret: d8f2bb9f-7ea1-4a15-b2af-acca6be60fe8
