parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    mongodb_server: mongodb://localhost:27017
    mongodb_name: wix_adsense

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    ekino_new_relic_api_key: 123
