<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta>
    <title>Google AdSense App</title>
</head>
<body>

<!-- adsense advertisement -->
<div class="drive_widget_main">
    <script type="text/javascript"><!--
        google_ad_client = "ca-pub-4373694264490992";
        /* Another test */
        google_ad_slot = "9575653196";
        google_ad_width = 336;
        google_ad_height = 280;
        //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
</div>

</body>
</html>