<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta>
    <title>Google AdSense App</title>
</head>
<body>

<!-- adsense advertisement -->
<div class="drive_widget_main">
    <!-- adsense code -->
    {#{{ code|raw }}#}


</div>

</body>
</html>