<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta>
    <title>Google AdSense Widget</title>
</head>
<body>

<!-- adsense advertisement -->
<div>
    {% if code is defined and app.request.get('viewMode') != 'editor' %}
        {% include 'WixGoogleAdsenseBundle:View:ad.html.twig' %}
    {% else %}
        {% include 'WixGoogleAdsenseBundle:View:demo.html.twig' %}
    {% endif %}
</div>

<!-- wix sdk -->
    <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.24.0/js/Wix.js"></script>

    {% if code is not defined %}
    <!-- fos js routing bundle -->
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <!-- scripts -->
    {% javascripts
    '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/responsive.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}
</body>
</html>
