<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
</head>
<body>

<div>Loading...</div>

<!-- wix sdk -->
<script type="text/javascript" src="https://sslstatic.wix.com/services/js-sdk/1.44.0/js/Wix.js"></script>

<!-- script for updating wix and reloading the page -->
<script type="text/javascript">
    (window.opener.reload || function(){console.log("no reload");})();
    window.close();
</script>
</body>
</html>
