<!doctype html>
<html lang="en">
<head>

</head>
<body>

{% block javascripts %}
    <script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.63.0/js/wix.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts
    '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts filter='?yui_js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/controllers/worker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>


