<!doctype html>
<html lang="en">
<head>

</head>
<body>

{# scritps #}
{% block javascripts %}
    {#<script type="text/javascript" src="//static.parastorage.com/services/js-sdk/1.61.0/js/wix.min.js"></script>#}
    <script type="text/javascript" src="/src/Wix/GoogleAdsenseBundle/Resources/public/js/Wix.js"></script>
    <script type="text/javascript">
//        setTimeout(function(){
//            var appCompsId = {};
//            Wix.getComponentInfo = function(cb, compId){
//                //var compId = Wix.Utils.getCompId();
//                console.log('WORKER: compId=>',compId);
//                var random = Math.floor(Math.random()) == 1;
//                var data = {};
//                if(!appCompsId[compId]){
//                    data ={ 'compId': compId,
//                        'pageId': '' ,
//                        'showOnAllPages': random,
//                        'widgetId': 'dasfw' ,
//                        'appPageId': 'HOME'
//                    };
//                    appCompsId[compId] = data;
//                }
//                return cb(appCompsId[compId]);
//            }
//        },1000);

    </script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    {% javascripts
    '@WixGoogleAdsenseBundle/Resources/public/lib/jquery/jquery.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/bootstrap/js/bootstrap.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-pickers/simple.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-pickers/advanced.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/color-picker/color-picker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts filter='?yui_js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/jquery-ui/js/jquery-ui.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/chosen/chosen.jquery.js'
    '@WixGoogleAdsenseBundle/Resources/public/lib/angular/angular.min.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/jquery-ui.js'
    '@WixGoogleAdsenseBundle/Resources/public/js/controllers/worker.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
