<div id="settings_popup" class="clearfix" xmlns="http://www.w3.org/1999/html">
    <!-- connect account -->
    <div class="box_style top_section inline_block">
        <a target="_blank" href="https://www.google.com/adsense" id="logo">
            <img src="/bundles/wixgoogleadsense/images/settings/logo.png" alt="Google AdSense">
        </a>

        <div data-ng-hide="connected()" class="connect">
            <p class="description">You can earn revenue by showing relevant and engaging ads along-side your online content. Just connect
                                   your Google AdSense account.</p>
            <a data-ng-click="authenticate()" class="connect_button action_links">Connect Account</a>

            <p class="create_account">Don't have a Google account? <a target="_blank" href="https://www.google.com/adsense">Create one</a>
        </div>
        <div data-ng-show="connected()" class="connect">
            <p data-ng-show="hasAdUnit()">You can earn revenue by showing relevant and engaging ads along-side your online content.</p>

            <p data-ng-hide="hasAdUnit()">Your ad will be active up to 24 hours after you save the settings for your ad.</p>

            <p>You are now connected to your AdSense account.</p>

            <p class="disconnect">
                <a href="" data-ng-click="disconnect()">Disconnect Account</a>
            </p>
        </div>
    </div>

    <!-- accordion -->
    <div data-ui-accordion data-ui-height-style="content" data-ui-header="div > h2">
        <!-- contents settings -->
        <div class="box_style clearfix settings_layout">
            <h2 class="box_title" data-ng-class="adUnit.type|lowercase">Content</h2>

            <div data-ng-class="{ disabled: hasAdUnit() }">
                <ul class="types">
                    <li>
                        <input data-ng-disabled="hasAdUnit()" data-ng-model="adUnit.type" type="radio" value="TEXT" name="BannerType"
                               id="TypeText"/>
                        <label for="TypeText">Text</label>
                        <img src="/bundles/wixgoogleadsense/images/settings/ge/ge_type_text.png" alt="">
                    </li>
                    <li>
                        <input data-ng-disabled="hasAdUnit()" data-ng-model="adUnit.type" type="radio" value="IMAGE" name="BannerType"
                               id="TypeImage"/>
                        <label for="TypeImage">Image</label>
                        <img src="/bundles/wixgoogleadsense/images/settings/ge/ge_type_image.png" alt="">
                    </li>
                    <li>
                        <input data-ng-disabled="hasAdUnit()" data-ng-model="adUnit.type" type="radio" value="TEXT_IMAGE" name="BannerType"
                               id="TypeBoth"/>
                        <label for="TypeBoth">Text & Image</label>
                        <img src="/bundles/wixgoogleadsense/images/settings/ge/ge_type_text_image.png" alt="">
                    </li>
                </ul>
            </div>
        </div>

        <!-- layout settings -->
        <div class="box_style clearfix settings_layout">
            <h2 class="box_title">Layout</h2>

            <div>
                <ul class="layouts" data-ng-class="{ disabled: hasAdUnit() }">
                    <li class="rectangle">
                        <input data-ng-disabled="hasAdUnit()" data-ng-model="adUnit.size" type="radio" value="SIZE_300_250"
                               name="BannerLayout" id="StyleRect"/>
                        <label for="StyleRect">Square</label>
                    </li>
                    <li class="scraper">
                        <input data-ng-disabled="hasAdUnit()" data-ng-model="adUnit.size" type="radio" value="SIZE_120_600"
                               name="BannerLayout" id="LayoutScraper"/>
                        <label for="LayoutScraper">Tall</label>
                    </li>
                    <li class="banner">
                        <input data-ng-disabled="hasAdUnit()" data-ng-model="adUnit.size" type="radio" value="SIZE_468_60"
                               name="BannerLayout" id="LayoutBanner"/>
                        <label for="LayoutBanner">Wide</label>
                    </li>
                </ul>
                <!--<div class="cornder_radius">-->
                <!--<h3>Corner style</h3>-->
                <!--<div class="radiuses">-->
                <!--<input data-ng-model="adUnit.corner_style" type="radio" value="SQUARE" id="Square" />-->
                <!--<label class="straight" for="Square">Square</label>-->

                <!--<input data-ng-model="adUnit.corner_style" type="radio" value="SLIGHTLY_ROUNDED" id="Rounded" />-->
                <!--<label class="slight" for="Rounded">Rounded</label>-->

                <!--<input data-ng-model="adUnit.corner_style" type="radio" value="VERY_ROUNDED" id="VeryRounded" />-->
                <!--<label class="round" for="VeryRounded">Very Rounded</label>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>

        <!-- style settings -->
        <div class="box_style clearfix">
            <h2 class="box_title">Style</h2>

            <div>
                <div data-ng-hide="adUnit.type == 'IMAGE'">
                    <ul>
                        <li class="style_setting">
                            <label for="font-type">Font</label>
                            <select style="width: 100px;" data-chosen data-ng-model="adUnit.font_family"
                                    data-ng-options="object|uppercase as object for object in fontFamily" id="font-type"></select>

                            <label for="font-size">Size</label>
                            <select style="width: 100px;" data-chosen data-ng-model="adUnit.font_size"
                                    data-ng-options="object|uppercase as object for object in fontSize" id="font-size"></select>
                        </li>
                        <li class="style_setting">
                            <div>
                                <label class="colorPicker_label" for="title-color">Title color</label>
                                <input data-ng-model="adUnit.title_color" type="text" id="title-color" data-ui-color-picker/>
                            </div>

                            <div>
                                <label class="colorPicker_label" for="text-color">Text color</label>
                                <input data-ng-model="adUnit.text_color" type="text" id="text-color" data-ui-color-picker
                                       data-placement="left"/>
                            </div>
                        </li>
                        <li class="style_setting">
                            <label class="colorPicker_label" for="url-color">URL color</label>
                            <input data-ng-model="adUnit.url_color" type="text" id="url-color" data-ui-color-picker/>
                        </li>
                        <li class="style_setting">
                            <div class="color">
                                <label class="colorPicker_label" for="border-color">Border color</label>
                                <input data-ng-model="adUnit.border_color" type="text" id="border-color" data-ui-color-picker/>
                            </div>
                        </li>
                        <li class="style_setting">
                            <div class="color">
                                <label class="colorPicker_label" for="background-color">Background color</label>
                                <input data-ng-model="adUnit.background_color" type="text" id="background-color" data-ui-color-picker/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div data-ng-show="adUnit.type == 'IMAGE'">
                    Style do not apply for ads of type image. Style can only be set for Text or Text & Image ads.
                </div>
            </div>
        </div>
    </div>

    <div class="bottom_section">
        <div data-ng-show="connected() && !hasAdUnit()">
            <p class="warning">After submit, Ad setting cannot be changed. To make changes, you will need to delete the existing Ad and
                               create a new one.</p>
            <a data-ng-click="submit()" class="submit_ad action_links">Submit</a>
        </div>
    </div>

    <!-- loader -->
    <div class="ajax-loader">
        <img src="/bundles/wixgoogleadsense/images/loader.gif" width="20" height="20" alt="loader"/>
    </div>
</div>
